body{
    color:white;
    font-size:.8rem;
    font-family: 'Courier New', Courier, monospace;
}

h3{
    color:black;
}

.content-style{
    padding:.5rem .9rem;
    text-align: center;
}

.content-height{
    height:2rem;
}

.bg-blue{
    background-color:rgb(87, 140, 237);
    border: white solid 2px;
}

.bg-green{
    background-color:lime;
    border:cornflowerblue solid 2px;
}

.margin-top{
    margin-top:1rem;
}